html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.happy{
    color: greenyellow;
}
.divider1{
    display: block;
    color: rgba(0,0,0,.87);
    border-top: 1px solid rgba(0,0,0,.12);
    margin: 20px;
}
.modalTitle{
    background: rgb(66,0,188);
    background: linear-gradient(90deg, rgba(66,0,188,1) 0%, rgba(232,0,24,1) 76%, rgba(125,0,128,1) 99%);
    font-size: 1.6rem;
    color: white;
    min-height: 3rem;
    margin-bottom: 21px;
    padding-top: 14px;
    font-weight: 500;
}
mat-form-field{
    width: 100%;
}
.custom-dialog-container .mat-dialog-container {
    overflow-y: hidden;
}
h3{
    font-weight: bold;
}

.text-small {
  font-size:small;
}

