/* img{
  z-index: 1000;
} */
.dashboard{
    display: block;
    position : relative;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .dashboard::after {
    content: "";
    
    background: url("../../assets/dashboard.png");
    background-size: 90vw 90vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 101;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* opacity: 0.02; */
