mat-card{
  border-radius: 8px;
  margin-bottom: 2rem;
}

.mb-container{
  max-width: 1240px;
  margin: 0 auto;
}

mat-card-content{
  margin-top: 32px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: end;
}

.gap-16 {
  gap: 16px;
}

small{
  align-self: flex-end;
  font-size: small;
}

.mat-card-header{
  display: flex;
  justify-content: space-between;
}

.mat-card-header img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.refresh{
  align-self: center;
  margin-bottom: 18px;
}
.gauge{
  overflow: hidden;
}

::ng-deep .legend-wrap .legend-labels {
  overflow: auto !important;
}

/* All drawer related classes are configuring scroll bar */
::ng-deep ul.legend-labels.horizontal-legend *{
  scrollbar-width: none !important;
  display: inline-flex;
  overflow: visible !important;
}
::ng-deep ul.legend-labels.horizontal-legend::-webkit-scrollbar * {
  /* width: 1px !important; */
  scrollbar-width: none !important;
}
::ng-deep ul.legend-labels.horizontal-legend::-webkit-scrollbar-track *{
  visibility: none;
  overflow: visible !important;
  scrollbar-width: none !important;
}
