mat-card{
  border-radius: 8px;
  margin-bottom: 2rem;
}

.mb-container{
  max-width: 1240px;
  margin: 0 auto;
}

mat-card-content{
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.7rem;
  font-weight: bold;
  padding-left: 10px;
}

.gap-16 {
  gap: 16px;
}

small{
  align-self: flex-end;
  font-size: small;
}

mat-card-header{
  justify-content: space-between;
}

.cashInHand{
  border-left: solid 8px #913fc7;
}
.bankBalance{
  border-left: solid 8px #56b384;
}
.cash-regiter{
  border-left: solid 8px #354e9c;
}
.credit-sale {
  border-left: solid 8px #a1c138;
}
.cheque-border {
  border-left: solid 8px #0fc7db;
}
.totalReceivale{
  border-left: solid 8px #50a3a6;
}
.totalPayable{
  border-left: solid 8px #235c5e;
}
.prod{
  border-left: solid 8px #9c767d;
}
.dispatch{
  border-left: solid 8px #5ab3b3;
}

mat-card-header img {
  width: 64px;
  height: 64px;
}

.refresh{
  align-self: center;
  margin-bottom: 18px;
}
.gauge{
  overflow: hidden;
}

::ng-deep .legend-wrap .legend-labels {
  overflow: auto !important;
}

::ng-deep .legend-wrap {
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto !important;
}

::ng-deep .chart-legend .legend-wrap {
  width: 70% !important;
}

/* All drawer related classes are configuring scroll bar */
::ng-deep ul.legend-labels.horizontal-legend *{
  scrollbar-width: none !important;
  display: inline-flex;
  overflow: visible !important;
}
::ng-deep ul.legend-labels.horizontal-legend::-webkit-scrollbar * {
  /* width: 1px !important; */
  scrollbar-width: none !important;
}
::ng-deep ul.legend-labels.horizontal-legend::-webkit-scrollbar-track *{
  visibility: none;
  overflow: visible !important;
  scrollbar-width: none !important;
}
